h1 {
    color:white;
    font-family: "Pokemon DS", sans-serif;
    font-size: 84px;
}

body {
    background-image: url('background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

label {
    color:white;
    font-family: "Pokemon DS", sans-serif;
    font-size: 42px;
    margin-left: 10px;
}

input {
    background-color: rgba(0, 0, 0, 0.5);
    color: white; 
    font-family: "Pokemon DS", sans-serif;
    font-size: 42px;
    margin-left: 10px;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white; 
    border: 2px solid white;
    border-radius: 10px;
    font-family: "Pokemon DS", sans-serif;
    font-size: 42px;
    margin-left: 10px; 
}

ul li {
    color:white;
    font-family: "Pokemon DS", sans-serif;
    font-size: 42px;
}
  
  
  
  
  
  